* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    ;

}

body {
    margin-top: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url(./Images/Netflix\ BG.jpg);
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;


}

header {
    position: relative;

    width: 100%;
    height: 80px;
}

.logo {
    background-color: green;
}

.logo img {
    margin-top: 22px;
    margin-left: 10%;
    display: flex;

    position: absolute;
    height: 45px;

}

header button {
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    float: right;
    margin-top: 22px;
    margin-right: 10%;
}

button:hover {
    background-color: green;
}

.container {
    position: relative;
    display: flex;

    height: 100vh;
}

.main {
    margin-top: 20%;
    width: 100%;
    height: fit-content;

    justify-content: center;
}

.main h1 {

    margin: auto;
    width: fit-content;

    color: white;
    font-size: 45px;

}

.main p {
    width: 80%;
    margin: 0 10% 0 10%;

    font-size: 20px;
    display: flex;
    margin-top: 15px;
    justify-content: center;

}

.main #info {
    margin: 20px 5% 0 5%;
    width: 90%;
}


.register {
    position: relative;
    background-color: gre;
    margin-top: 10px;
    gap: 5px;
    display: flex;
    justify-content: center;



}

.input {
    padding-left: 20px;
    background-color: black;
    opacity: 0.6;
    border-radius: 5px;
    border: solid 1px gray;
    width: 420px;
    height: 50px;
}

button {
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: red;
    width: 150px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.747);
}

.content {
    margin-top: 650px;
    border: solid 20px black;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.saiba-mais {

    margin-top: -100px;
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 150px;
    background: rgb(172, 6, 186);
    background: radial-gradient(circle, rgba(172, 6, 186, 1) 0%, rgba(102, 26, 108, 1) 41%, rgba(9, 9, 121, 1) 73%, rgba(2, 0, 36, 1) 100%);
}

.default-text {

    margin-top: 20px;
    margin-left: 400px;
    display: grid;

    position: absolute;
}

.default-text p {
    position: absolute;
    margin-top: 50px;
}

.default-text a {
    position: absolute;
    margin-top: 80px;
    font-size: 18px;
    color: blue;
}

.default-session-001 {
    gap: 60px;
    
    background-color: green;
    font-size: 20px;
    padding-left: 190px;
    display: flex;
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 400px;
    background-color: black;
}
.text{
    align-self: center;
    
}
.default-session-001 h1 {
    font-size: 50px;
}

.default-session-001 p {
    margin-top: 20px;
    width: 390px;

}

.default-png-001 img {
    position: absolute;
    height: 100%;

}
.video video{
    margin-top: 83px;
    margin-left: 70px;
    width: 390px;
    position: absolute;
    
}

@media (max-width: 880px) {

    .register {
        display: block;
    }

    .register button {
        margin-top: 15px;
    }

    .main {
        margin-top: 14%;
    }

    .logo img {
        width: 100px;
        height: auto;
    }
}